%container {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

  @media (min-width: 768px) {
    padding-right: 45px;
    padding-left: 45px;
  }

  @media (min-width: 1280px) {
    padding-right: 55px;
    padding-left: 55px;
  }
}

%list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

%title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: $fontWeightBold;
  font-size: $fontSizeTitleMobile;
  line-height: $lineHeightTitleMobile;

  @media (min-width: 768px) {
    font-size: $fontSizeTitleTablet;
    line-height: $lineHeightTitleTablet;
  }

  @media (min-width: 1280px) {
    font-size: $fontSizeTitleDesktop;
    line-height: $lineHeightTitleDesktop;
  }
}

%text-small {
  font-weight: $fontWeightMedium;
  font-size: $fontSizeTextSmall;
  line-height: $lineHeightTextSmall;
}

%text-regular {
  font-weight: $fontWeightMedium;
  font-size: $fontSizeText;
  line-height: $lineHeightText;
}

%text-regular-large {
  @extend %text-regular;

  @media (min-width: 768px) {
    font-size: $fontSizeTextLarge;
    line-height: $lineHeightTextLarge;
  }
}
