// Задаём цвета сайта
$colorWhite: #ffffff;
$colorBlack: #000000;

$colorPrimary: #151c22;
$colorSecondary: #727a82;

$colorLine: #e5e5e5;
$colorBackground: #f1f2f4;

$colorFilterCyanGray: #b0c3c7;
$colorFilterBlueDark: #3b6392;
$colorFilterBlueGray: #bfc3c8;
$colorFilterCyanDark: #2d2e2e;
$colorFilterGray: #ececec;
$colorFilterBlue: #4193da;

// Задаём характеристики шрифта и текста
$fontWeightNormal: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;

$fontSizeTextSmall: 14px;
$fontSizeText: 16px;
$fontSizeTextLarge: 18px;

$fontSizeTitleMobile: 26px;
$fontSizeTitleTablet: 28px;
$fontSizeTitleDesktop: 32px;
$fontSizeTitleHeroMobile: 86px;
$fontSizeTitleHeroTablet: 98px;
$fontSizeTitleHeroDesktop: 128px;

$lineHeightNormal: 1.2;

$lineHeightTextSmall: 16px;
$lineHeightText: 19px;
$lineHeightTextLarge: 21px;

$lineHeightTitleMobile: 30px;
$lineHeightTitleTablet: 33px;
$lineHeightTitleDesktop: 38px;
$lineHeightTitleLarge: 40px;

$fontFamilyText: "Work Sans", "Arial", sans-serif;
$fontFamilyTitle: "Anton", "Impact", sans-serif;
